body{
    background-color: rgb(161, 159, 159);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1{
    text-align: center;
}


h2{
    text-align: center;
}

img{
    margin-left: 250px;
    text-align: center;
}